<div>
    <br>
    <br>
    <h1 class="spacing2">{{name}}</h1>
</div>
<div>
    <span class="spacing2 grey-colorise">Hello my name is {{name}}</span>
</div>
<div>
    <span class="spacing2">{{description}}</span>
</div>
<div>
    <span class="spacing2">{{tagline}}</span>
</div>