<div class="cardContainer">
{{#each beers}}
        <div class="container">
            <div class="row">
                <div class="col-md-3 row-3">
                    {{> card}}

                </div>
                    <div class="col-md-9">
                       {{> cards2}}
             
                   
                    </div>
                </div>
            </div>

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
    {{/each}}
    </div>



