<div  class="container">
        <div class="row Centralize">
                <div class="col-md-4 vertical">
                        <div>
                                <img   src="/images/beer.png" width="450" height="450" class="index-margin" />
                        </div>
                        <div>
                                <button type="button" class="btn btn-primary index-margin"><a href="/beers">Check the Beers!</a></button>
                        </div>
                        <div>
                                <button type="button" class="btn btn-primary index-margin"><a href="/random-beers">Check a Random Beer!</a></button>
                        </div>
                </div>
        </div>
</div>